.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .information {
  transform: translate(-50%, 50%) scale(0);
}

.information {
  position: absolute;
  padding: 30px;
  margin: 15px;
  max-width: 500px;
  width: 100%;
  /*min-height: 609px; */
  background-color: #e17992;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .information {
    max-width: 528px;
  }
}

.information__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  text-align: initial;
  letter-spacing: .04em;
  color: #fff;
}

.information__closingbutton {
  width: 176px;
  height: 44px;
  margin: 20px auto 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  fill: #d41443;
  color: #d41443;
  background: #fff;
  border-radius: 22px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
}

.information__closingbutton:hover {
  background-color: #ecebeb;
  color: #d41443;
}

.drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.drop.is-hidden .location {
  transform: translate(-50%, 50%) scale(0);
}

.location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 16px;
  max-width: 528px;
  min-width: 320px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e17992;
  font-family: DM Sans, sans-serif;
}

.location-close-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e17992;
  border: 1px solid #e17992;
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  color: #000000;
}

.location__description {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.address-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  list-style-type: none;
  padding: 0;
}

.address-list__link {
  color: #ce3b6b;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 20px;
  text-decoration: none;
  font-weight: 800;
}

.address-list__link:hover, .address-list__link:focus {
  text-shadow: 2px 2px 2px #ffffff, -2px -2px 2px #ffffff;
}
/*# sourceMappingURL=main.css.map */